label, input{
  display:block;

}
label{
  margin-bottom:20px;
  
}

*{
box-sizing:border-box;
  
}
.container{
max-width:980px;
margin:0 auto;
text-align:center;
}
#title{
  text-align:center;
}
#survey-form{
  margin:0 auto;
  text-align:center;
}
.center-block{
  display:block;
  margin-right:auto;
  margin-left:auto;
}
.radio-input{
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
.checkbox-input{
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
 
}
#submit{
  display:inline-block;
  margin-left:auto;
  margin-right:auto;

}

body{
  background-image: url('albion-bedroom.jpg');

}

fieldset{
  color:black;
  margin:auto;
  border-color: blue;
  background-color: #808080;
}
h1{
  font-size: xx-large;
}
p{
  font-size: x-large;
}
.fieldset{
  margin:auto;
}